@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f8fafc;
    color: #1e293b;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
